www/xmlschematest.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.w3schools.com/RedsDevils"
    elementFormDefault="qualified"
	xmlns="http://www.w3schools.com/RedsDevils /xmlschematest.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="author" type="xs:string"/>
				<xs:element name="year" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	<xs:element>

</xs:schema>
